pkgbase = wavelinux
	pkgdesc = Rust and PipeWire creator audio mixer for Linux
	pkgver = 4.3.5
	pkgrel = 1
	url = https://github.com/DuskyProjects/WaveLinux
	install = wavelinux.install
	arch = x86_64
	license = GPL-3.0-only
	makedepends = git
	makedepends = nodejs
	makedepends = yarn
	makedepends = rust
	makedepends = pkgconf
	makedepends = libpipewire
	makedepends = librsvg
	makedepends = patchelf
	depends = pipewire
	depends = pipewire-pulse
	depends = wireplumber
	depends = libpulse
	depends = alsa-utils
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = libayatana-appindicator
	depends = libusb
	optdepends = swh-plugins: LADSPA compressor, gate, and limiter support
	optdepends = noise-suppression-for-voice: RNNoise LADSPA noise suppression
	optdepends = deepfilternet: DeepFilterNet noise suppression when packaged with LADSPA support
	source = wavelinux-4.3.5.tar.gz::https://github.com/DuskyProjects/WaveLinux/archive/refs/tags/v4.3.5.tar.gz
	sha256sums = SKIP

pkgname = wavelinux
